<!DOCTYOE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>ExpenseTracker</title>

	</head>
	 <body>



		 <form action="/home" method="post" name="menuForm">
			 <button type="submit" name="homeButton">edit/view expenses</button>
			 <button type="submit" name="visualButton">Visual report</button>
			 <button type="submit" name="monthlyButton">monthly report</button>
			 <button type="submit" name="logoutButton">lougout</button>

		 </form>

     <form action="/addExpense" method="post" name="addExpenseForm">

       <input
         name="nameInput"
         placeholder="Name"
         autocomplete="off"
       />

       <input
         name="categoryInput"
         placeholder="Category"
         autocomplete="off"
       />

       <input
         name="priceInput"
         placeholder="$0.00"
         autocomplete="off"
       />

       <input
         name="dateInput"
				 type="date"
         placeholder="Date"
         autocomplete="off"
       />

       <input
         name="descriptionInput"
         placeholder="Description"
         autocomplete="off"
       />

       <button type="submit" name="addEntry">Add expense</button>

     </form>

		 <!-- Create table with expenses -->
     <table style="width:100%">
			 <tr>
				 <form action="/sort" method="post">
					 <th> Name <button type="submit" name="sortButton" value="name">▼|▲</button> </th>
					 <th> Category <button type="submit" name="sortButton" value="category">▼|▲</button> </th>
					 <th> Amount <button type="submit" name="sortButton" value="amount">▼|▲</button> </th>
					 <th> Date <button type="submit" name="sortButton" value="date">▼|▲</button> </th>
					 <th> Desc. </th>
					 <th> Edit/Delete </th>
			 	</form>
			 </tr>
        <% for (var index=0; index < expenseArray.length; ++index) { %>

					<form action="/deleteExpense" method="post">
						<tr name="expenseRow">
		 				 <th> <%= expenseArray[index].name %> </th>
		 				 <th> <%= expenseArray[index].category %> </th>
		 				 <th> <%= expenseArray[index].price %> </th>
		 				 <th>
							 <%= expenseArray[index].date.getMonth() + 1 %> /
							 <%= expenseArray[index].date.getDate() + 1 %> /
							 <%= expenseArray[index].date.getFullYear() %>
						 </th>
		 				 <th> <%= expenseArray[index].description %> </th>
		 				 <th> <button type="submit" name="deleteEntry"  value="<%= expenseArray[index]._id %>">Delete</button> </th>
		 			 </tr>
				 </form>

        <% } %>
     </div>

   </body>
 </html>
