<!DOCTYOE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>ExpenseTracker</title>

		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	 <body>

		 <!--Menu form for navigating between different pages -->
		 <form action="/menu" method="post" name="menuForm">
			 <button type="submit" name="menuButton" value="home">edit/view expenses</button>
			 <button type="submit" name="menuButton" value="visual">Visual report</button>
			 <button type="submit" name="menuButton" value="monthly">monthly report</button>
			 <button type="submit" name="menuButton" value="logout">lougout</button>

		 </form>


		 <!-- Form for entering and adding expenses for logged in user -->
     <form action="/addExpense" method="post" name="addExpenseForm">
			 <div class="entry">
	       <input
	         name="nameInput"
	         placeholder="Name"
	         autocomplete="off"
					 value="<%= expense.name %>"
	       />

				 <select name="categoryInput" selectedIndex="<%= expense.category %>">
					 	<option value="Groceries">Grocieries</option>
						<option value="Gas">Gas</option>
						<option value="Bills">Bills</option>
				 </select>

	       <input
	         name="priceInput"
	         placeholder="$0.00"
	         autocomplete="off"
					 value="<%= expense.price === -1 ? null : expense.price%>"
	       />

	       <input
	         name="dateInput"
					 type="date"
	         placeholder="Date"
	         autocomplete="off"
					 value="<%= expense.date.getFullYear() %>-<%= expense.date.getMonth() %>-<%= expense.date.getDate() %>"
	       />

	       <input
	         name="descriptionInput"
	         placeholder="Description"
	         autocomplete="off"
					 value="<%= expense.description %>"
	       />

	       <button type="submit" name="addEntry">Add expense</button>
			 </div>
     </form>

		 <!-- Load expenses Create table with expenses ▼|▲-->
     <table class="entryTable" >
			 <tr>
				 <form action="/sort" method="post">
					 <th> Name <button type="submit" name="sortButton" value="name"><%= sort %></button> </th>
					 <th> Category <button type="submit" name="sortButton" value="category"> <%= sort %></button> </th>
					 <th> Amount <button type="submit" name="sortButton" value="amount"><%= sort %></button> </th>
					 <th> Date <button type="submit" name="sortButton" value="date"><%= sort %></button> </th>
					 <th> Desc. </th>
					 <th> Edit/Delete </th>
			 	</form>
			 </tr>
        <% for (var index=0; index < expenseArray.length; ++index) { %>

					<form action="/editEntry" method="post">
						<tr name="expenseRow">
		 				 <th> <%= expenseArray[index].name %> </th>
		 				 <th> <%= expenseArray[index].category %> </th>
		 				 <th> <%= expenseArray[index].price %> </th>
		 				 <th> <!-- Format date for view -->
							 <%= expenseArray[index].date.getMonth() + 1 %> /
							 <%= expenseArray[index].date.getDate() + 1 %> /
							 <%= expenseArray[index].date.getFullYear() %>
						 </th>
		 				 <th> <%= expenseArray[index].description %> </th>

		 				 <th>
							 <button type="submit" name="modifyButton" value="<%= [1, expenseArray[index]._id] %>">Edit</button>
							 <button type="submit" name="modifyButton" value="<%= [2, expenseArray[index]._id] %>">Delete</button>
						 </th>
		 			 </tr>
				 </form>

        <% } %>
     </div>

   </body>
 </html>
