<!DOCTYOE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>ExpenseTracker</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	 <body>
      <!-- Menu form for navigating between different pages -->
      <form action="/menu" method="post" name="menuForm">
        <button type="submit" name="menuButton" value="home">edit/view expenses</button>
        <button type="submit" name="menuButton" value="monthly">monthly report</button>
        <button type="submit" name="menuButton" value="logout">lougout</button>

      </form>

			<h1> Monthly Report </h1>

			<form action="/monthlyReport" method="post">

				<label for="categoryInput">Category: </label>
				<select name="categoryInput" multiple="multiple">
					<option value="all" <%= selectedCategory == "all" ? 'selected' : '' %> >all</option>
					 <% for (var index=0; index < categoryArray.length; ++index) { %>
					 <option value="<%= categoryArray[index] %>"
						 <%= selectedCategory == categoryArray[index] ? 'selected' : '' %>>
						 <%= categoryArray[index] %>
					</option>
					 <% } %>
				</select>

				<label for="monthInput">Month: </label>
				<select name="monthInput">
					<option value="every month" <%= reportedDate == "every month" ? 'selected' : '' %>>
						every
					</option>
					<% for (var index=0; index < monthArray.length; ++index) { %>
					<option value="<%= monthArray[index] %>"
						<%= reportedDate.valueOf() === monthArray[index].valueOf() ? 'selected' : '' %>>
						<%= monthArray[index].getMonth() +1 %> - <%= monthArray[index].getFullYear() %>
					</option>
					<% } %>
				</select>

				<label for="graphInput">Graph Type: </label>
				<select name="graphInput">
					<option value="bar"> bar </option>
					<option value="pie"> pie </option>
				</select>

				<button type="submit" name="report">Report</button>
			</form>

			<p> Report for <%= selectedCategory %> category for <%= selectedDate %> </p>

			<canvas id="myChart" class="graph"></canvas>

			<!-- Script for creating visual graphs -->
			<script>
	 		 const categories = ["Bills", "Groceries", "Gas"];
	 		 const barColors = ["red", "green","blue"];

	 		 new Chart("myChart", {
	 			 type: "<%= chartType %>",
	 			 data: {
	 				 labels: categories,
	 				 datasets: [{
	 					 backgroundColor: barColors,
	 					 data: [<%= categoryExpenseAmounts %>]
	 				 }]
	 			 },

	 			 options: {
					 legend: {
        			display: "<%= chartType %>" == "pie" ? true : false,
						},
					 scales: {
			      yAxes: [{
			          display: true,
			          ticks: {
			                beginAtZero:true
			            }
			      }],
					},
	 				 title: {
	 					 display: true,
	 					 text: "Report"
	 				 }
	 			 }
	 		 });
	 		</script>

			<!-- Report table -->
			<table class="entryTable">
				<tr>
					<th> Most common expense </th>
					<th> Least common expense </th>
					<th> Total spending for month </th>
					<th> Average spending per expense</th>
				</tr>
				<tr>
					<th> <%= reportInfo[0] %> </th>
					<th> <%= reportInfo[1] %> </th>
					<th> <%= reportInfo[2] %> </th>
					<th> <%= reportInfo[3] %>
				</tr>
			</table>

			<table class="entryTable" >

				<% for (var index=0; index < expenseArray.length; ++index) { %>
				<tr name="expenseRow">
				 <th> <%= expenseArray[index].name %> </th>
				 <th> <%= expenseArray[index].category %> </th>
				 <th> <%= expenseArray[index].price %> </th>
				 <th> <!-- Format date for view -->
					 <%= expenseArray[index].date.getMonth() + 1 %> /
					 <%= expenseArray[index].date.getDate() + 1 %> /
					 <%= expenseArray[index].date.getFullYear() %>
				 </th>
				 <th> <%= expenseArray[index].description %> </th>
			 </tr>
			 <% } %>
		 </table>


   </body>
 </html>
